.title {
    text-align: center;
}

h2 {
    text-align: center;
}

.cabecera {
    background-color: #006B9D;
    border: solid 1px #ACACAC;
    color: #FFF;
    text-align: center;
}
  
.datos {
    background-color: #FFF;
    border: solid 1px #ACACAC;
    color: #000;
    text-align: center;
}